*{
    padding: 0;
    margin: 0;
}
.nav-bar{
    /* border: 0.1vw solid gray; */
    box-shadow: 1px 1px 4px gray;
    height: 8vw;
    width: 98.79vw;
}
nav > img{
    width: 5.8vw;
    height: 3vw;
    position: absolute;
    margin-left: 2.3vw;
    margin-top: 1.3vw;
    cursor: pointer;
}
.Categories{
    margin-left: 10vw;
    position: absolute;
    margin-top: 1.5vw;
    padding: 1vw;
    height: 1.1vw;
    padding-top: 0.5vw;
    cursor: pointer;
    
}
 .Categories:hover{
    border-radius: 3vw;
    background-color: lightgray;
    padding: 1vw;
    height: 1.1vw;
    padding-top: 0.5vw;
} 
.search{
    width: 62.5vw;
    height: 3.5vw;
    position: absolute;
    margin-top: 1vw;
    margin-left: 19vw;
    border-radius: 2vw;
    border: 0.2vw solid black;
    padding-left: 1vw;
    font-size: 1.2vw;
}
.btn{
    position: absolute;
    margin-top: 1.39vw;
    margin-left: 78.2vw;
    height: 2.7vw;
    width: 2.7vw;
    border-radius: 2vw;
    background-color: rgb(255, 102, 0);
    color: white;
    border: none;
    cursor: pointer;

}
.btn:hover{
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    border-top-left-radius: 0vw;
    border-bottom-left-radius: 0vw;
    height: 3.1vw;
    width: 3.12vw;
    margin-top: 1.2vw;
    background-color: rgba(255, 102, 0,0.5);
}
.signin{
    position: absolute;
    margin-top: 1.5vw;
    margin-left: 83vw;
    padding: 1vw;
    height: 1.1vw;
    padding-top: 0.5vw;
}
.signin > a{
    text-decoration: none;
    color: black;
     
}
.signin:hover{
    border-radius: 3vw;
    background-color: rgba(181, 179, 179, 0.3);
    padding: 1vw;
    height: 1.1vw;
    padding-top: 0.5vw;
}
.fav{
    position: absolute;
    margin-top: 0.8vw;
    margin-left: 90vw;
    font-size: 1.5vw;
    cursor: pointer;
    padding: 1vw;
}
.fav:hover{
    padding: 1vw;
    border-radius: 5vw;
    margin-top: 0.8vw;
    background-color: rgba(139, 187, 255, 0.5);
}
.bag{
    position: absolute;
    margin-top: 1.7vw;
    margin-left: 93.5vw;
    height: 1.6vw;
    width: 1.6vw;
    padding: 1vw;
    margin-top: 0.8vw;
    cursor: pointer;
    
}
.bag:hover{
    padding: 1vw;
    border-radius: 5vw;
    margin-top: 0.8vw;
    background-color: rgba(139, 187, 255, 0.5);
}
.vg{
    position: absolute;
    margin-top: 5vw;
    margin-left:24.4vw;
    padding: 1vw;
    height: 1.1vw;
    padding-top: 0.5vw;
    font-family: sans-serif;
    font-size: 1vw;
}
.vg > a{
    text-decoration: none;
    color: black;
     
}
.vg:hover{
    border-radius: 3vw;
    background-color: rgba(181, 179, 179, 0.3);
    padding: 1vw;
    height: 1.1vw;
    margin-top: 4.7vw;
    padding-top: 0.8vw;
}
.hf{
    position: absolute;
    margin-top: 5vw;
    margin-left:37.5vw;
    padding: 1vw;
    height: 1.1vw;
    padding-top: 0.5vw;
    font-family: sans-serif;
    font-size: 1vw;
}
.hf > a{
    text-decoration: none;
    color: black;
     
}
.hf:hover{
    border-radius: 3vw;
    background-color: rgba(181, 179, 179, 0.3);
    padding: 1vw;
    height: 1.1vw;
    margin-top: 4.7vw;
    padding-top: 0.8vw;
}
.ff{
    position: absolute;
    margin-top: 5vw;
    margin-left:49vw;
    padding: 1vw;
    height: 1.1vw;
    padding-top: 0.5vw;
    font-family: sans-serif;
    font-size: 1vw;
}
.ff > a{
    text-decoration: none;
    color: black;
     
}
.ff:hover{
    border-radius: 3vw;
    background-color: rgba(181, 179, 179, 0.3);
    padding: 1vw;
    height: 1.1vw;
    margin-top: 4.7vw;
    padding-top: 0.8vw;
}

.gg{
    position: absolute;
    margin-top: 5vw;
    margin-left:60vw;
    padding: 1vw;
    height: 1.1vw;
    padding-top: 0.5vw;
    font-family: sans-serif;
    font-size: 1vw;
}
.gg > a{
    text-decoration: none;
    color: black;
     
}
.gg:hover{
    border-radius: 3vw;
    background-color: rgba(181, 179, 179, 0.3);
    padding: 1vw;
    height: 1.1vw;
    margin-top: 4.7vw;
    padding-top: 0.8vw;
}
.registry{
    position: absolute;
    margin-top: 5vw;
    margin-left:70vw;
    padding: 1vw;
    height: 1.1vw;
    padding-top: 0.5vw;
    font-family: sans-serif;
    font-size: 1vw;
}
.registry> a{
    text-decoration: none;
    color: black;
    
     
}
.registry:hover{
    border-radius: 3vw;
    background-color: rgba(181, 179, 179, 0.3);
    padding: 1vw;
    height: 1.1vw;
    margin-top: 4.7vw;
    padding-top: 0.8vw;
}
.heading{
    /* position: absolute; */
    /* font-family: sans-serif; */
    margin-top: 1.4vw;
    text-align: center;
    /* margin-left: 18vw; */
    font-size: 2.35vw;
}
.pbox{
    min-height: 1vw;
    max-width: 75vw;
    margin: -1.2vw auto;
    cursor: pointer;
    display: flex;
    align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;

}
.box1{
    /* border: 1px solid black; */
    height: 170px;
    width: 130px;
    /* border-radius: 65px; */
    margin-top: 3.2vw;
}
.box1 > img{
    height: 130px;
    width: 130px;
    border-radius: 65px;
}
.box1 > span {
    margin-left: 1.7vw;
    text-decoration: underline;
    
}
.box1 > span > span {
    margin-left: 3vw;
    text-decoration: underline;
}
.box1:hover {
    border-bottom: 0.2vw solid black;
    /* text-decoration: underline; */
    opacity: 0.9;
   
  }
  .box1 > img:hover {
    transform: scale(1.08);
    transition: 0.4s;
    box-shadow: 1px 1px 1px 1px grey;
  }
  .box1 > span:hover{
    opacity: 0.8;
    text-decoration: none;
  }
  .box1 > span > span:hover{
    opacity: 0.8;
    text-decoration: none;
  }
  .box2{
    height: 180px;
    width: 130px;
    margin-top: 3.2vw;
    /* border: 1px solid black; */
  }
  .box2 > img{
    height: 130px;
    width: 130px;
    border-radius: 65px;
  }
  .box2 > span {
    margin-left: 1.7vw;
  }
  .box2:hover {
    border-bottom: 0.2vw solid black;
    /* text-decoration: underline; */
    opacity: 0.9;
   
  }
  .box2 > img:hover {
    transform: scale(1.08);
    transition: 0.4s;
    box-shadow: 1px 1px 1px 1px grey;
  }
  .box3{
    height: 180px;
    width: 130px;
    margin-top: 3.2vw;
    /* border: 1px solid black; */
  }
  .box3 > img{
    height: 130px;
    width: 130px;
    border-radius: 65px;
  }
  .box3 > span {
    margin-left: 3vw;
  }
  .box3:hover {
    border-bottom: 0.2vw solid black;
    /* text-decoration: underline; */
    opacity: 0.9;
   
  }
  .box3 > img:hover {
    transform: scale(1.08);
    transition: 0.4s;
    box-shadow: 1px 1px 1px 1px grey;
  }

  .box4{
    height: 180px;
    width: 130px;
    margin-top: 3.2vw;
    /* border: 1px solid black; */
  }
  .box4 > img{
    height: 130px;
    width: 130px;
    border-radius: 65px;
  }
  .box4 > span {
    margin-left: 2.5vw;
  }
  .box4:hover {
    border-bottom: 0.2vw solid black;
    /* text-decoration: underline; */
    opacity: 0.9;
   
  }
  .box4 > img:hover {
    transform: scale(1.08);
    transition: 0.4s;
    box-shadow: 1px 1px 1px 1px grey;
  }

  .box5{
    height: 180px;
    width: 130px;
    margin-top: 3.2vw;
    /* border: 1px solid black; */
  }
  .box5 > img{
    height: 130px;
    width: 130px;
    border-radius: 65px;
  }
  .box5 > span {
    margin-left: 1.4vw;
  }
  .box5:hover {
    border-bottom: 0.2vw solid black;
    /* text-decoration: underline; */
    opacity: 0.9;
   
  }
  .box5 > img:hover {
    transform: scale(1.08);
    transition: 0.4s;
    box-shadow: 1px 1px 1px 1px grey;
  }
  .box6{
    height: 180px;
    width: 130px;
    margin-top: 3.2vw;
    /* border: 1px solid black; */
  }
  .box6 > img{
    height: 130px;
    width: 130px;
    border-radius: 65px;
  }
  .box6 > span {
    margin-left: 3vw;
  }
  .box6:hover {
    border-bottom: 0.2vw solid black;
    /* text-decoration: underline; */
    opacity: 0.9;
   
  }
  .box6 > img:hover {
    transform: scale(1.08);
    transition: 0.4s;
    box-shadow: 1px 1px 1px 1px grey;
  }
  .para{
    font-size: 2.3vw;
    position: absolute;
    left: 41vw;
    bottom: 12vw;
  }

  


  .category_long_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 0px 9px;
    cursor: pointer;
    border: 1px solid white;
    margin-top: 10vw;

  }
  
  .category_long_box:hover {
    box-shadow: 0px 1px 1px 1px lightgray;
    border-radius: 5px;
  }
  
  .category_long_box > img {
    height: 230px;
    width: 170px;
    border-radius: 12px;
  }
  .category_long_box > span {
    font-weight: lighter;
    padding-top: 5px;
    font-size: 14px;
    font-family: "Quicksand", sans-serif;
  }
  
  .cateogory_long_parent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: -95px;
  }
  

  .Showmore{
    position: absolute;
    margin-top: 10vw;
    margin-left: 45vw;
    padding: 1vw;
    height: 1.1vw;
    padding-top: 0.5vw;
    background-color: rgba(163, 161, 161, 0.4);
    border-radius: 3vw;
}
.Showmore > a{
    text-decoration: none;
    color: black;
    font-size: 1.4vw;
     
}
.Showmore:hover{
    border-radius: 3vw;
    background-color: rgba(100, 100, 100, 0.4);
    padding: 1vw;
    height: 1.1vw;
    padding-top: 0.5vw;
}
.pgift{
  position: absolute;
  font-size: 2vw;
  margin-top: 19vw;
  font-family: sans-serif;
  margin-left: 2.6vw;
}

.custombook > img{
  height: 180px;
    width: 230px;
    border-radius: 12px;
    position: absolute;
    margin-top: 0.3vw;
    margin-left: 0.4vw;
}
.cs {
  font-weight: lighter;
  padding-top: 5px;
  /* font-size: 14px; */
  font-family: "Quicksand", sans-serif;
  position: absolute;
  margin-top: 13.4vw;
  margin-left: 0.5vw;
  font-size: 1.1vw;
}
 .usd{
  position: absolute;

margin-top: 15.5vw;
/* border: 1px solid black; */
margin-left: 0.4vw;
}
.custombook {
  cursor: pointer;
  /* border: 1px solid black; */
  height: 270px;
    width: 240px;

}
.custombook:hover{
  box-shadow: 0px 1px 1px 2px  lightgray;
    border-radius: 12px;
    border: 1px solid gray;
}
.boxes_usd_parent{
  /* border: 1px solid black; */
  height: 23vw;
  width: 98.3vw;
  position: absolute;
  margin-top: 23vw;
  display: flex;
  /* flex-direction: row; */
    justify-content: space-around;
    flex-wrap: wrap;
    /* align-items: center; */
    padding: 2px;
}
.shop_p_h{
  position: absolute;
  font-size: 2vw;
  margin-top: 46vw;
  font-family: sans-serif;
  margin-left: 2.6vw;
}

.parent{
  height: 25.4vw;
  width: 96vw;
  /* border: 1px solid black; */
  margin-top: 50vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 1.3vw;

}
.child > img{
  height: 18vw;
  width: 17vw;
  /* border: 1px solid black; */
  border-radius: 0.5vw;
}
.child > span{
  position: absolute;
  margin-top: 20vw ;
  margin-left: -14.1vw;
  font-family: sans-serif;
  font-size: 1.5vw;
}
.child{
  /* border: 1px solid black; */
  height: 23.3vw;
  width: 17vw;
  cursor: pointer;
  border: 1px solid lightgrey;
  border-radius: 0.5vw;
}
.child:hover{
  box-shadow: 0px 1px 1px 1px  lightgray;
    /* border-radius: 12px; */
    /* border: 1px solid lightgray; */
    border-radius: 0.5vw;
}
#footerimage1{
    position: absolute;
    margin-top: 32vw;
    margin-left: 0vw;
    width: 98.9vw;
    cursor: pointer;
}

#footerimage2{
  position: absolute;
  margin-top: 84.3vw;
  margin-left: 0vw;
  width: 98.9vw;
  cursor: pointer;
}
#footerimage3{
  position: absolute;
  margin-top: 73vw;
  margin-left: 0vw;
  width: 98.9vw;
  cursor: pointer;
}